body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #08030d56;
    color: #721b92;
    max-width: 100%;
}

.video{
    max-width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(118, 12, 160, 0.3),rgba(12,3,51,0.3));
    position: relative;
    display: flexbox;
    padding: 0 5%;
    align-items: center;
    justify-content: center;
    z-index: -5;
}

header {
    background-color: #110818;
    padding: 20px;
    text-align: center;
    z-index: -5;
    max-width: 100%;
}

.logo {
    max-width: 100%;
    height: auto;
    z-index: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(131, 46, 137);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.welcome {
    background-color: #9b70bc;
    color: rgb(15, 1, 1);
    padding: 100px 20px;
    text-align: center;
    font-size: 30px;
}

.cta-button {
    background-color: #14051c;
    color: rgb(216, 129, 242);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}

.feature {
    width: 30%;
    background-color: rgb(16, 8, 20);
    color: #c58def;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(173, 116, 244, 0.1);
}

footer {
    background-color: #0d0611;
    color: rgb(229, 218, 237);
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1%; color: #ebd9f8;
    
}
.aboutus, .schedule, .register, .contactus {
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 10px;
    width: 30%;
    text-align: center;
    margin-left: 34%;
}

form input[type="text"], form input[type="email"], form textarea {
    border-radius: 10px;
    border: 1px solid #180426;
    padding: 20px 50px;
}

form input[type="submit"] {
    background-color: #a651e7;
    color: rgb(6, 2, 10);
    padding: 20px 10px;
    border: 1px solid #180426;
    border-radius: 10px;
    cursor: pointer;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (min-aspect-ratio: 16/10){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/10){
    .back-video{
        width: auto;
        height: 100%;
    }
}
